DAN_LVII_Natasa_Jevtic/Zadatak_1_Client/Connected Services/ServiceReferenceArticle/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Zadatak_1_WCF" />
  <xs:element name="ViewArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Zadatak_1_WCF" minOccurs="0" name="ViewArticlesResult" nillable="true" type="q1:ArrayOfArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Zadatak_1_WCF" minOccurs="0" name="article" nillable="true" type="q2:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddArticleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>