DAN_LVII_Natasa_Jevtic/Zadatak_1_Client/Connected Services/ServiceReferenceArticle/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Zadatak_1_WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ViewArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewArticles" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArticle" />
  </wsdl:message>
  <wsdl:message name="IService1_AddArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticle" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBill_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBill" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBillResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ViewArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ViewArticles" message="tns:IService1_ViewArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ViewArticlesResponse" message="tns:IService1_ViewArticles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddArticle" message="tns:IService1_AddArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddArticleResponse" message="tns:IService1_AddArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateArticle" message="tns:IService1_UpdateArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateArticleResponse" message="tns:IService1_UpdateArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateBill" message="tns:IService1_CreateBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateBillResponse" message="tns:IService1_CreateBill_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ViewArticles">
      <soap:operation soapAction="http://tempuri.org/IService1/ViewArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArticle">
      <soap:operation soapAction="http://tempuri.org/IService1/AddArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArticle">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBill">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Zadatak_1_WCF/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>